.container
  .page-header
    %h1= link_to('Simple RSS Reader', root_path)
  %p Add your feeds, you can edit/view/destroy feeds
  %p RSS reader will show all latest posts from all feeds sorted by date. Clicking on title will open original article page in new tab/window
